langgraph
langgraph-checkpoint-sqlite
langchain-ollama
langchain_community
pymupdf4llm
markdown-it-py
openai
python-dotenv
pypdf
pandas
python-docx
gradio
tqdm
langchain_openai
ollama
msal
deepeval
ruff==0.9.1